* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(20, 18, 11);
  color: rgb(237, 236, 236);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

/* NavBar Styling  */

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 12;
  background-color: rgb(20, 18, 11);
}

#toprightlogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#h1Nav {
  font-size: large;
}

#cursorLogo {
  height: 40px;
  width: 40px;
}

#topbottomNav {
  display: flex;
  gap: 20px;
}

#authBtns {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 8px 10px;
  border-radius: 20px;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;

  display: inline-flex;
  align-items: center;
  gap: 8px;

  border: 1px solid transparent;
  cursor: pointer;
}

#signInBtn {
  background: rgb(20, 18, 11);
  color: rgb(237, 236, 236);
  border: 1px solid white;
  font-weight: 400;
  letter-spacing: 0.3px;
}

#DownloadBtn {
  background-color: rgb(237, 236, 236);
  color: rgb(20, 18, 11);
  font-weight: 400;
  letter-spacing: 0.3px;
}

/* HERO SECTION */
#heroSection {
  margin-top: 100px !important;
  width: 90%;
  margin: 0 auto;
}
#headHero{
    width: 50%;
}

#heroh1{
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 24px;
    width: 70%;
    
}

#demoBg{
  margin-top: 100px;
  width: 90%;
  position: relative;
  
}
#heroImg{
  width: 90vw;
  border-radius: 5px;
  margin: 0 auto;
  height: 700px;
}
.windowOne {
  position: absolute;  
  top: 60px;
  left: 60px;
  width: 90%;
  margin: 0 auto;
  height: 600px;
  border-radius: 10px;
  background-color:rgb(20, 18, 11) ;
  padding: 10px 12px;
}
/* .windowTwo{
    position: absolute;  
  top: 20px;
  right: 300px;
  width: 320px;
  height: 500px;
  border-radius: 10px;
  background-color:rgb(20, 18, 11) ;
} */

#trustedPartnersSection{
  width: 90%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;

}
#trustedPartners{
    margin-top: 20px !important;
    display: flex;
    width: 90%;
    margin: 0 auto;
  gap: 10px;
  
}

.prtnrDiv{
  
 background-color: rgb(24, 25, 13);
 color: white;
 font-weight: 550;
 height: 130px;
 width: 180px;
 padding: 2px;
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;

 
}



/* // SECTIONS START FROM HERE */

.section{
  width: 90%;
  margin:  0 auto;
  background-color: rgb(24, 25, 13);
  padding: 20px;
  margin-top: 100px !important;
}
.sectionRaw{
  width: 90%;
  margin:  0 auto;

  padding: 20px;
  margin-top: 100px !important;
}

#sectionOne{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#sectionOneImg{
  height: auto;
  width: 60vw;
}
.sectionp{
  font-size: 24px;
}
#Secondp{
  color: rgb(123, 124, 126);
  margin-bottom: 20px;
}
#thirdp{
  color: rgb(175, 28, 28);
  font-size: 17px;
}
#sectionTwo{
 margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

#sectionTwoImg{
  height: auto;
  width: 60vw;
  margin-right: 5px;
}
#sectionThree{
   margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#sectionThreeImg{
   height: auto;
  width: 60vw;
  margin-right: 5px;
  margin-left: 5px;
}

/* // TESTIMONY SECTION CARDS */
#testimonyH1{
 text-align: center;
 margin-bottom: 50px;
}

#cardParent{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  
}

.card{
  display: flex;
  flex-direction: column;
  background-color:rgb(24, 25, 13) ;
  padding: 20px ;
  align-items:flex-start;
  justify-content: space-between;
  gap: 20px;
}

#cardChildDiv{
  display: flex;
  justify-content:center;
  align-items:center;
  gap: 10px;
  
}
.cardText{
  display: flex;
  flex-direction: column;
}

#cardImg{
  height: 50px;
  width: 50px;
  margin-right: 5px;
  display: block;
}

.userName{
  color: gray;
}

.redp{
  color: red;
  margin-top: 20px;
}
#divforstories{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
  

}
.storyImg{
  height: 200px;
  width: 200px;
}

.storyCard{
  background-color:rgb(24, 25, 13);
  padding: 20px;
  
}

#changelog{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}
.changelogCard{
  padding: 10px;
  background-color:rgb(24, 25, 13) ;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 17px;
  text-align: center;
}

.fade{
  color: gray;
}

.btnCln{
  border: 1px solid white;
  border-radius: 18px;
  padding: 4px 15px;
  margin-right: 5px;
}
#redps{
  color: red;
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: 0.3px;
  margin-left: 5px;
}

#homepageTeamImg{
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

#headforhomepageTeam{
  font-size: 44px;
  width: 40vw;
  letter-spacing: 0.3px;
  margin-bottom: 20px;
}

#btnHomepageTeam{
  margin-bottom: 20px ;
  padding: 10px 20px;
}

#redpp {
  color: red;
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: 0.3px;
  margin-left: 5px;
}

.greyp{
  color: gray;
  margin-bottom: 15px;
  margin-top: 10px;
}
.highlightCard{
  background-color:rgb(24, 25, 13) ;
   padding: 20px;
   text-align:start;
}

#highlights{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr ;
  gap: 10px;
  border-radius: 5px;
  width: 50vw;
}

#highlightSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(16, 16, 3);
}
#highlightHead{
  margin: 0;
}
#headforlastCTA{
  font-size: 60px;
  margin-bottom: 20px;
}

#lastCta{
 text-align: center;
}
#lastBTN{
  padding: 14px 20px;
}
.footerHead{
  color: gray;
}
#parentF{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
  background-color: rgb(16, 16, 3);
}

.footerDiv{
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  padding: 20px;
}
#lastP{
  margin-left: 40px;
  margin-bottom: 10px;
}